 public static void main(String[] args) {
        // TODO code application logic here
         int a, b; Scanner x = new Scanner(System.in);
        int w=1,h=40;
        float p,pe,z,m,o;
        String n;
        System.out.println("Total de trabajadores: "); a =x.nextInt(); 
        System.out.println("Pago por horas normales: "); p =x.nextFloat();
        System.out.println("Pago por horas extras: "); pe =x.nextFloat();
        System.out.println("");
        while(w<=a)
       {
        System.out.println("Nombre del trabajador "+w); n =x.next();
        System.out.println("Horas de trabajo: "); b =x.nextInt();
        z=h*p;
        m=b-h;
        o=m*pe;
        if(b>h){System.out.println(n+" El total de horas trabajadas fueron 40 $"+z+" y "+m+" Horas extras $"+o+" Total de sueldo: $"+(z+o));}
        if(b==h){System.out.println(n+" El total de horas trabajadas fueron 40 $"+(h*p));}
        if(b<h){System.out.println(n+" El total de horas trabajadas fueron menores a 40 $"+(h*b));}
        System.out.println("");
       w=w+1;
       }
}
}
